.main-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.main-main {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
 
.main-webpage1 {
  top: 0px;
  left: -167px;
  width: 1754px;
  height: 1024px;
  position: absolute;
}
 
.main-nvtelen1 {
  top: 332px;
  left: 10px;
  width: 710px;
  height: 473px;
  position: absolute;
}
 
.main-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
}
 
.main-text1 {
  top: 342px;
  color: rgba(255, 255, 255, 1);
  right: 103px;
  width: 866px;
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Regular;
  text-align: left;
  font-family: "Press Start 2P", cursive;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-rectangle2 {
  top: 521px;
  right: 514px;
  width: 384px;
  height: 73px;
  position: absolute;
  box-sizing: content-box;
}
 
.main-text2 {
  top: 545px;
  left: 663px;
  color: rgba(136, 248, 229, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Press Start 2P;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-link {
  display: contents;
}
 
.main-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.main-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.main-text3 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
